.button {
	-fx-background-color: transparent;
}

.button:hover {
	-fx-text-fill:	rgba(225,225,220, 1);
	-fx-effect:  dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}


.root {
	-fx-background-color: rgb(244, 244, 244);
}

.popup {
	-fx-background-color: rgb(244, 244, 244);
	-fx-background-radius: 30;
}

.closebtn {
	-fx-background-image: url("logo_fermer.png");
	-fx-background-size: 80%;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.closebtn:hover {
	-fx-background-size: 100%;
	-fx-effect:  none;
}

.undobtn {
	-fx-background-image: url("logo_fleche_gauche.png");
	-fx-background-size: 80%;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.undobtn:hover {
	-fx-background-size: 100%;
	-fx-effect:  none;
}

.redobtn {
	-fx-background-image: url("logo_fleche_droite.png");
	-fx-background-size: 80%;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.redobtn:hover {
	-fx-background-size: 100%;
	-fx-effect:  none;
}

.savebtn {
	-fx-background-image: url("logo_save.png");
	-fx-background-size: 80%;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.savebtn:hover {
	-fx-background-size: 100%;
	-fx-effect:  none;
}
