.button {
	-fx-background-color: transparent;
}

.button:hover {
	-fx-text-fill:	rgba(225,225,220, 1);
	-fx-effect:  dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}


.root {
	-fx-background-color: rgb(225, 225, 220);
}

.popup {
	-fx-background-color: rgb(225, 225, 220);
	-fx-background-radius: 30;
}
