.label {
	-fx-text-fill:	rgb(195, 195, 190);
}

.button {
	-fx-text-fill:	rgb(195, 195, 190);
	-fx-background-color: transparent;
	-fx-effect:  dropshadow(three-pass-box, rgba(225,225,220,0.2), 5, 0, 0, 0);
}

.button:hover {
	-fx-text-fill:	white;
	-fx-effect:  dropshadow(three-pass-box, rgba(225,225,220,0.6), 15, 0, 0, 0);
}

.root {
	-fx-background-color: rgb(35, 35, 35);
}

.popup {
	-fx-background-color: rgb(35, 35, 35);
	-fx-background-radius: 30;
}

.closebtn {
	-fx-background-image: url("logo_fermer_night.png");
}

.undobtn {
	-fx-background-image: url("logo_fleche_gauche_night.png");
}

.redobtn {
	-fx-background-image: url("logo_fleche_droite_night.png");
}

.savebtn {
	-fx-background-image: url("logo_save_night.png");	
}

.gamebtn {
	-fx-background-size: 80%;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.gamebtn:hover {
	-fx-background-size: 100%;
	-fx-effect:  none;
}
